@inject IProductRepository ProductRepository

<table class="table">
	<thead>
		<tr>
			<th>Name</th>
			<th>CategoryId</th>
			<th>Image</th>
			<th>Price</th>
		    <th>Description</th>
			<th></th>
		</tr>
	</thead>
	<tbody>
		<ListItemProductComponent products="products"></ListItemProductComponent>
	</tbody>
</table>

@code {
	private List<ProductDTO> products = new List<ProductDTO>();
	[Parameter]
	public string SearchTerm { get; set; } = string.Empty;

	protected override async Task OnParametersSetAsync()
	{
		products = (await ProductRepository.GetAllProducts(this.SearchTerm)).ToList();
		
	}
}
